.header {
    display: flex;
    background-color: #37474F;
    color: white;
    gap: 10%;
}

.value {
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    font-size: 1.8rem;
    line-height: 0.8;
}

.description {
    color: #BDC3C7;
    font-size: 1.2rem;
    margin: 0px;
    padding: 0px;
    line-height: 0.8;
}

.title {
    font-size: 3.5rem;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
    line-height: 0.9;
}



@media (max-width: 1350px) { 
    .header {
        gap: 8.6%;
    }
    .title {
        font-size: 2.5rem;
    }
    .description {
        font-size: 1rem;
    }

    .value {
        font-size: 1.4rem; 
    }
}

@media (max-width: 900px) { 
    .title {
        font-size: 2.5rem; 
    }

    .description {
        font-size: 1rem;
    }

    .value {
        font-size: 1.1rem; 
        line-height: 1;
    }
}

@media (max-width: 800px) { 
    .header {
        gap: 8%;
    }
}

@media (max-width: 700px) { 
    .title {
        font-size: 2rem; 
    }
    .value {
        font-size: 0.8rem;
    }
    .description {
        font-size: 0.7rem;
    }
}