* {
    overflow-x: hidden;
}

section {
    margin: 2%;
    padding-bottom: 50px;
    background-color: #f8f8f8; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcomeCard {
    margin: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    background-color: white;
    width: 70%;
    max-width: 1200px;
    padding: 30px;
    padding-top: 30px;
    box-shadow: 0 4px 6px -4px rgba(0, 0, 0, .5);
    align-items: center;
}

.descriptionSection {
    width: 80%;
}

.descriptionSection h1 {
    font-size: 2rem;
    font-weight: bolder;
    padding: 20px;
    padding-left: 0;
}

.descriptionSection p {
    font-size: 1.2rem;
    padding-bottom: 40px;
    padding-left: 0;
}

.welcomeCard img {
    margin: 25px;
    height: 200px;
    width: 200px;
}

.featureCards {
    display: flex;
    width: 80%;
    max-width: 1300px;
}

.featureCard {
    padding: 20px;
    margin: 20px;
    text-align: center;
    box-shadow: 0 4px 6px -4px rgba(0, 0, 0, .5);
    background-color: white;
    width: 33%;
    max-width: 433px;
    padding-bottom: 60px;
}

.featureCard h1 {
    padding-bottom: 15px;
}

.startButton {
    border: none;
    padding: 20px;
    font-size: 1.2rem;
    background-color: #774688;
}

.startButton:hover {
    cursor: pointer;
}