.dashboard {
    margin-left: 300px; 
    height: 100vh;
    width: calc(100vw - 300px); 
    background-color: rgb(240, 240, 240);
    overflow-y: auto; 
}

.dashboard header {
    padding: 2%;
    padding-bottom: 0;
}

.dashboard header h1 {
    font-size: 28px;
    color: #2c3e50;
    font-weight: 600;
}

.dashboard header h2 {
    font-size: 18px;
    color: #7f8c8d;
    margin: 0;
    font-weight: normal;
    display: flex;
    align-items: center;
}

.mainSection {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%; 
    padding: 2%; 
    box-sizing: border-box; 
}

.bottomSection {
    display: flex;
    gap: 20px;
    width: 100%;
    padding: 0 2% 2% 2%;
    box-sizing: border-box;
    align-items: stretch;
}

.bottomSection > :first-child {
    width: 60%;
    height: 100%;
}

.bottomSection > :last-child {
    width: 35%;
    height: 100%;
}

.leftColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 25%;
}

@media screen and (max-width: 968px) {
    .dashboard {
        margin-left: 0px; 
        width: 100vw; 
    }
    
    .portfolioCard, .leaderboardCard, .portfolioChartCard, .topGainersCard {
        width: 100%;
    }
    
    .leftColumn {
        width: 100%;
    }

    .bottomSection {
        flex-direction: column;
    }

    .bottomSection > :first-child,
    .bottomSection > :last-child {
        width: 100%;
    }
}